mixin sMedicalSpecialists(data)
	// start sMedicalSpecialists
	+b.SECTION.sMedicalSpecialists.section#sMedicalSpecialists&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Medical Specialists
				p Meet our well-qualified doctors, who work every day to&nbsp;ensure you get perfect medical services. They watch your health and are very helpful.
			+e.row.row
				.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call-2' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Medical Specialists' block" 
					data-title='Prof. Dr. Peter Schenker'
					data-img="img/sMedicalSpecialists-img-1.png"
					data-pragraph='Is&nbsp;renowned in&nbsp;the world of&nbsp;transplantology and worked for 20&nbsp;years as&nbsp;a&nbsp;top doctor at&nbsp;the University Hospital Bochum in&nbsp;the Department of&nbsp;General Visceral Surgery and Transplantology. The professor specialises in&nbsp;traditional medicine, surgical, minimally invasive, laparoscopic treatments in&nbsp;abdominal surgery. Since may 2022, most operations have been performed with the help of&nbsp;the latest generation Da&nbsp;Vinci robot.'
				)
					+medicalSpecialistsItem('sMedicalSpecialists-img-1.png', 'Prof. Dr. Peter Schenker', 'CONSULTING DOCTOR')
				.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call-2' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Medical Specialists' block" 
					data-title='Prof.  Dr. Markus Heuser' 
					data-img="img/sMedicalSpecialists-img-2.png"
					data-pragraph='Prof. Dr. Markus Heuser is&nbsp;a&nbsp;celebrated urologist in&nbsp;Germany and has an&nbsp;experience of&nbsp;29+&nbsp;years in&nbsp;the field of&nbsp;oncological and general urology.'
				)
					+medicalSpecialistsItem('sMedicalSpecialists-img-2.png', 'Prof.  Dr. Markus Heuser', 'CONSULTING DOCTOR')
				.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call-2' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Medical Specialists' block" 
					data-title='Dr. Viola Fox' 
					data-img="img/sMedicalSpecialists-img-3.png"
					data-pragraph='Head Physician at&nbsp;the Clinic for Haematology, Oncology and Palliative Care at&nbsp;the certified interdisciplinary cancer centre BKZ in&nbsp;Solingen. Specialist in&nbsp;drug therapy for tumour diseases. Dr. Fox has over 25&nbsp;years of&nbsp;expirience.'
				)
					+medicalSpecialistsItem('sMedicalSpecialists-img-3.png', 'Dr. Viola Fox', 'CONSULTING DOCTOR')
				.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call-2' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Medical Specialists' block" 
					data-title='PD Dr. Buhl' 
					data-img="img/sMedicalSpecialists-img-4.png"
					data-pragraph='Dr. Ralf Buhl is&nbsp;an&nbsp;oncologist, neurosurgeon, specialist in&nbsp;the treatment of&nbsp;malignant and benign tumors of&nbsp;the brain and spinal cord, head of&nbsp;the Center for Neurosurgery at&nbsp;the Solingen Clinic. Neurosurgeon Ralf Buhl has performed more than 5,000&nbsp;operations, has 25&nbsp;years of&nbsp;experience and is&nbsp;a&nbsp;member of&nbsp;the European Association of&nbsp;Neurosurgeons. Professor Buhl in&nbsp;his practice uses minimally invasive robotic methods for the treatment of&nbsp;patients with herniated disc and spinal stenosis.'
				)
					+medicalSpecialistsItem('sMedicalSpecialists-img-4.png', 'PD Dr. Buhl', 'CONSULTING DOCTOR')
				.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call-2' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Medical Specialists' block" 
					data-title='Prof. Dr. Becher' 
					data-img="img/sMedicalSpecialists-img-5.png"
					data-pragraph='Prof. Dr. Marc Becher is&nbsp;an&nbsp;interventional cardiologist with 25&nbsp;years of&nbsp;experience in&nbsp;the field.'
				)
					+medicalSpecialistsItem('sMedicalSpecialists-img-5.png', 'Prof. Dr. Becher', 'CONSULTING DOCTOR')
				.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call-2' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Medical Specialists' block" 
					data-title='Dr. Seifert' 
					data-img="img/sMedicalSpecialists-img-6.png"
					data-pragraph='Dr. Manuela Seifert, a&nbsp;renowned oncological surgeon in&nbsp;Germany, has been head of&nbsp;the Breast Cancer Center at&nbsp;the University Hospital Solingen since 2016. With Dr. Seifert&rsquo;s tenure, she has continued the best of&nbsp;the tradition of&nbsp;the previous specialists at&nbsp;the Breast Cancer Center of&nbsp;the University Hospital Solingen.'
				)
					+medicalSpecialistsItem('sMedicalSpecialists-img-6.png', 'Dr. Seifert', 'CONSULTING DOCTOR')
				.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call-2' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Medical Specialists' block" 
					data-title='Prof. Pfaffenbach' 
					data-img="img/sMedicalSpecialists-img-7.png"
					data-pragraph='With +25&nbsp;years of&nbsp;experience, Prof. Dr. Boris Pfaffenbach is&nbsp;a&nbsp;celebrated Medical Gastroenterologist in&nbsp;Germany. He&nbsp;is&nbsp;an&nbsp;expert in&nbsp;diseases of&nbsp;the entire digestive system with a&nbsp;focus on&nbsp;gastroenterological endoscopy His clinical focus includes colonoscopy, colon polyps and cancer, hepatitis, gastroesophageal reflux, colitis, gallbladder and biliary tract disease, irritable bowel syndrome (IBS) and pancreatitis'
				)
					+medicalSpecialistsItem('sMedicalSpecialists-img-7.png', 'Prof. Pfaffenbach', 'CONSULTING DOCTOR')
				.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call-2' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Medical Specialists' block" 
					data-title='Prof. Sesterhenn' 
					data-img="img/sMedicalSpecialists-img-8.png"
					data-pragraph='Professor Dr. Andreas Sesterhenn is&nbsp;an&nbsp;emeritus otolaryngologist and oncological surgeon who successfully continues the family dynasty of&nbsp;doctors. On&nbsp;a&nbsp;daily basis, the professor and his colleagues successfully carry out diagnostics and the most complex surgical procedures in&nbsp;patients with cancer of&nbsp;the highest class. The outstanding professionalism of&nbsp;the specialists and the modern level of&nbsp;equipment in&nbsp;the department is&nbsp;confirmed by&nbsp;the positive feedback from patients and the high percentage of&nbsp;their recovery.'
				)
					+medicalSpecialistsItem('sMedicalSpecialists-img-8.png', 'Prof. Sesterhenn', 'CONSULTING DOCTOR')
	// end sMedicalSpecialists