mixin sDepartments(data)
	// start sDepartments
	+b.SECTION.sDepartments.section#sDepartments&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Departments
				p Every department is&nbsp;headed by&nbsp;experienced doctor. Personnel of&nbsp;each department is&nbsp;certified and highly skilled to&nbsp;provide their services.
			+e.row.row
				+e.col.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Departments' block" 
					data-title="Neurology" 
					data-img='img/svg/sDepartments-img-1.svg'
					data-pragraph='The Neurosurgery at&nbsp;the hospital Solingen is&nbsp;one of&nbsp;the leading neurosurgical centres in&nbsp;Europe. Firmly anchored in&nbsp;the Neurocentre of&nbsp;the Head Clinic and the neighbouring specialist clinics of&nbsp;the University Medical School, we&nbsp;offer our patients neurosurgical therapy at&nbsp;the highest medical level. In&nbsp;five state-of-the-art operating theatres, we&nbsp;treat the entire spectrum of&nbsp;diseases of&nbsp;the peripheral and central nervous system. Special focal points are brain tumour surgery and spinal surgery.'
				)
					+sDepartmentsItem(1, 'Neurology')
				+e.col.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Departments' block" 
					data-title="Cardiology" 
					data-img='img/svg/sDepartments-img-2.svg'
					data-pragraph='Highly professional specialists within the walls of&nbsp;our Clinic provide the full spectrum of&nbsp;currently known non-invasive and invasive cardiac methods of&nbsp;treatment, cardiac catheterization, implantation of&nbsp;pacemakers and defibrillators. In&nbsp;addition, in&nbsp;the Clinic of&nbsp;Cardiology and General Internal Medicine for you, pulmonological and non-invasive angiologic diagnostics is&nbsp;performed, which is&nbsp;carried out using advanced technologies and the latest generation of&nbsp;equipment.'
				)
					+sDepartmentsItem(2, 'Cardiology')
				+e.col.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Departments' block" 
					data-title="ENT" 
					data-img='img/svg/sDepartments-img-3.svg'
					data-pragraph='the Clinic of&nbsp;Otorhinolaryngology provides a&nbsp;wide range of&nbsp;services: surgery of&nbsp;nose and accessory cavities, middle ear, soft tissues of&nbsp;the neck, base of&nbsp;the skull and plastic surgery of&nbsp;the face. Particular attention is&nbsp;paid to&nbsp;oncology and tumor surgery. Our center of&nbsp;head and neck surgery, led by&nbsp;Prof. Sesterhenn is&nbsp;the leading institution for operations on&nbsp;the thyroid gland and parathyroid (parathyroid) glands. All the staff of&nbsp;the center have skills in&nbsp;ultrasound examination, the skills in&nbsp;conducting fine-needle aspiration, traditional, video-assisted and endoscopic thyroid gland procedures. Many years of&nbsp;our experience provide an&nbsp;exceptionally high level of&nbsp;manual skills and detailed knowledge of&nbsp;the anatomical features of&nbsp;the neck area structure.'
				)
					+sDepartmentsItem(3, 'ENT')
				+e.col.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Departments' block" 
					data-title="Gastroenterology" 
					data-img='img/svg/sDepartments-img-4.svg'
					data-pragraph='In&nbsp;the Clinic of&nbsp;Gastroenterology and Internal Diseases Therapy, all abdominal and metabolic diseases are treated. Along with the therapy of&nbsp;internal diseases, the following specialties also belong to&nbsp;the main areas of&nbsp;our work: oncology, Hepatology, Hematology, Diabetology and Infectious diseases'
				)
					+sDepartmentsItem(4, 'Gastroenterology')
				+e.col.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Departments' block" 
					data-title="Surgery  " 
					data-img='img/svg/sDepartments-img-5.svg'
					data-pragraph='General and visceral surgery treats diseases of&nbsp;the abdominal cavity, that&nbsp;is, the entire gastrointestinal tract, starting from the esophagus, including the stomach and duodenum and to&nbsp;the small intestine, colon and anus/rectum. The spectrum of&nbsp;diseases includes good and malignant neoplasms (tumors), inflammatory diseases and'
				)
					+sDepartmentsItem(5, 'Surgery  ')
				+e.col.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Departments' block" 
					data-title="Breastcancer center" 
					data-img='img/svg/sDepartments-img-6.svg'
					data-pragraph='We&nbsp;will serve you at&nbsp;the highest medical level. This is&nbsp;the result of&nbsp;many years of&nbsp;experience in&nbsp;prompt and conservative treatment of&nbsp;breast diseases combined with the use of&nbsp;the most advanced equipment and programs of&nbsp;versatile follow-up and care of&nbsp;patients. Our goal is&nbsp;treatment and recovery. We&nbsp;will carefully and individually take care of&nbsp;you at&nbsp;all stages of&nbsp;your disease. From diagnosis and treatment to&nbsp;subsequent monitoring of&nbsp;the patient&rsquo;s condition.'
				)
					+sDepartmentsItem(6, 'Breastcancer center')
				+e.col.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Departments' block" 
					data-title="Urology" 
					data-img='img/svg/sDepartments-img-7.svg'
					data-pragraph='We&nbsp;are one of&nbsp;the larger certified urological clinics in&nbsp;Germany and a&nbsp;centre of&nbsp;excellence equipped according to&nbsp;the most modern diagnostic and therapeutic aspects. Except for kidney transplantation, our urologists perform all treatments of&nbsp;conservative and surgical urology. We&nbsp;use the DaVinci Xi&nbsp;surgical robot in&nbsp;our clinic. It&nbsp;is&nbsp;currently the most modern surgical robot from Intuitive Surgical and already the fourth generation of&nbsp;the Intuitive surgical robot. A&nbsp;special focus is&nbsp;the surgical and drug therapy of&nbsp;urological tumour diseases, especially prostate carcinoma.'
				)
					+sDepartmentsItem(7, 'Urology')
				+e.col.col-sm-6.col-md-4.col-lg-3(
					data-src='modal-call' 
					data-fancybox="modal" 
					data-order="Modal window was opened from 'Departments' block" 
					data-title="Oncology" 
					data-img='img/svg/sDepartments-img-8.svg'
					data-pragraph='The Hematology and Oncology Center at&nbsp;the Solingen City Hospital at&nbsp;the University of&nbsp;Cologne specializes in&nbsp;the treatment of&nbsp;complex oncological diseases and hematology diseases in&nbsp;all areas. The oncology department was specially created by&nbsp;a&nbsp;separate Patient Center, where the best German doctors and professors with extensive experience and innovative knowledge in&nbsp;the treatment of&nbsp;breast cancer, pancreatic and stomach cancer, tumors of&nbsp;the spinal cord and brain, and all type of&nbsp;blood and lymph cancer'
				)
					+sDepartmentsItem(8, 'Oncology')
	// end sDepartments